body {
  font-family: "Montserrat", sans-serif;
  background-color: #AED6F1;
}

/* main styles */
/* p {
  margin: 0;
} */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1220px;
  height: 1600px;
  margin: 0% auto;
}

.main-content {
  background: #D6DBDF;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 50px;
}
/* about styles  */

.about {
  margin-bottom: 20px;
}

.about_position {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about_name {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 15px;
  margin-top: 0;
}

.about_discription {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: black;
  width: 800px;
}



/* projects styles*/

.projects {
  margin-bottom: 20px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 5px;
}

.projects_list {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding: 0;
  margin-left: 15px;
}

.project_item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project,
.project-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.project-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: black;
  margin-left: 10px;
}

.project-link {
  margin-left: 10px;
  transition: all 0.3s;
  color: #2E86C1;
  font-weight: 700;
  font-size: 18px;
}
.project-link:hover {
  color: #fb6d3a;
}
.project-link:focus {
  color: #fb6d3a;
}

.project_bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.discription {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

/* work styles */
/* .work{
    
} */

.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 10px;
}
.achievement {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  padding: 0;
}
.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2E86C1;
  margin-bottom: 10px;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: black;
  margin-bottom: 8px;
}
.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work_list {
  padding: 0;
  margin-left: 18px;
}
/* .work_list p {
  margin-top: 10px;
  margin-bottom: 0;
} */
.worklist_item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: black;
  margin-top: 10px;
}

/* Education styles */
.education {
  margin-top: 10px;
  
}

.university {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #2E86C1;
  margin-bottom: 5px;
}

.education_management {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 5px;
}
/* Sidebar styles */
.sidebar {
  background: #34495E;
  padding-top: 40px;
  width: 460px;
  
}

.photo {
  width: 270px;
  margin-bottom: 50px; 
  margin-left: 40px;
  /* border-radius: 30px; */
}

.sidebar_title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;

}

.contacts {
  margin-left: 40px;
  margin-bottom: 50px;
}

/* .contacts p {
    padding: .4rem 0; 
     display: flex;
    align-items: center; 
    color: #d6dbdfaf;
    letter-spacing: 1px; 
    font-size: 24px; 
} */

.contacts a {
  font-size: 18px;
}

.contacts  i {
    padding-right: 1rem;
    font-size: 18px;
    color: #2E86C1;
}

.tech_skills {
  margin-left: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.techskills_list {
  font-style: normal;
  /* font-weight: 400; */
  /* font-size: 14px; */
  line-height: 24px;
  color: #ffffff;
  padding: 0%;
  margin-left: 15px;
}
.techskills_item {
  color: #2E86C1;
  padding-right: 1rem;
  padding-bottom: 10px;
}


.techskills-text {
  padding-left: 1rem;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.soft_skills {
  margin-left: 40px;
  margin-top: 50px;
}

.softskills_list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  padding: 0%;
  margin-left: 15px;
}

.softskills_item {
  color: #2E86C1;
  padding-right: 1rem;
  padding-bottom: 5px;
}
.work {
  color: #2E86C1;
  padding-right: 1rem;
  padding-bottom: 5px;
}
.work_text {
  color:  #000000;
} 
.softskills_text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
   padding-left: 1rem;
   margin-top: 20px;
}

.contact_type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}
.contact_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: aliceblue;
  text-decoration: none;
  transition: all 0.3s;
}

.contact_link:hover {
  color: #fb6d3a;
}

.contact_link:focus {
  color: #fb6d3a;
}